<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Microsoft Teams Hello World Sample App
  </title>
  <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css">
  </link>
  <link rel="stylesheet" type="text/css" href="/styles/custom.css">
  </link>
  <script src="https://unpkg.com/@microsoft/teams-js/dist/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
  <script src="/scripts/teamsapp.js"></script>
</head>

<body class="theme-light">
  <div class="surface">
    <div class="panel">
      <div class="font-semibold font-title">This is our first tab
        <p> Welcome to Microsoft Teams Hello World sample app (Node.js)</p>
        <iframe title="Corporate Spend" width="1140" height="541.25" src="https://msit.powerbi.com/reportEmbed?reportId=a109ccb2-a94b-4a84-b5cd-4fdda0e00b0b&amp;autoAuth=true&amp;ctid=72f988bf-86f1-41af-91ab-2d7cd011db47" frameborder="0" allowfullscreen="true"></iframe>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
